<div class="datepicker-container-theme">
    <label class="control-label">{{label}}</label>

    <div class="datepicker-container-input ">

        <input type="text" autocomplete="off" class="form-control ng-datepicker-input" [required]="required" [hidden]="isStatic" [(ngModel)]="viewValue" (keypress)="atribuirDataModel()" (keyup)="atribuirDataModel()" (blur)="atribuirDataModel()" [name]="name"
            id="{{id}}Input" pattern="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d" [ngClass]="{'ng-dirty' : dirty, 'invalid-pattern' : ( viewValue && viewValue != '')}" #datePicker>

        <span *ngIf="required" [class]="'is-required'" [ngClass]="{'is-required-datepicker': viewValue != '' && viewValue != null && viewValue }"></span>
        <a class="calendar-clean" href="javascript:void(0)" (click)="cleanFieldModel($event);dirty = true;datePicker.focus()" *ngIf="viewValue != '' && viewValue != null && viewValue"><i class="zmdi zmdi-close"></i></a>
        <a class="calendar-event" href="javascript:void(0)" (click)="openDatepicker()"><i class="zmdi zmdi-calendar"></i></a>

    </div>

    <div class="datepicker-overlay" [ngClass]="{active: isOpened}" (click)="closeDatepicker()"></div>
    <div class="ng-datepicker" [ngClass]="{ static: isStatic , active: isOpened}">
        <div class="calendar-header">
            <div class="controls">
                <div class="cancel">
                    <i class="zmdi zmdi-close" (click)="closeDatepicker()"></i>
                </div>
                <div class="left">
                    <i class="fa fa-angle-left prev-year-btn" (click)="prevYear()"></i>
                    <i class="fa fa-angle-left prev-month-btn" (click)="prevMonth()"></i>
                </div>
                <div class="center">
                    <div class="mes">{{date.format('MMMM')}}</div>
                    <div class="dia">{{date.format('DD')}}</div>
                    <div class="ano">{{date.year()}}</div>
                </div>
                <div class="right">
                    <i class="fa fa-angle-right next-month-btn" (click)="nextMonth()"></i>
                    <i class="fa fa-angle-right next-year-btn" (click)="nextYear()"></i>
                </div>
            </div>
        </div>
        <div class="dayofweek">
            {{date.format('dddd')}}
        </div>
        <div class="calendar-body">
            <div class="day-names">
                <span *ngFor="let dn of dayNames">
          <span>{{ dn }}</span>
                </span>
            </div>
            <div class="calendar">
                <span *ngFor="let d of days; let i = index;">
          <span class="day" [ngClass]="{'selected': isSelected(d), 'disabled': isInvalidDate(d)}"
                (click)="selectDate($event, d)">
            {{ d.day }}
          </span>
                </span>
            </div>
        </div>
        <div class="calendar-foot  pull-right">

            <!--<button type="button" class="btn btn-default"-->
            <!--(click)="cleanFieldModel()">Limpar-->
            <!--</button>-->
            <div class="group-buttons pull-right">
                <button type="button" class="aurora-button btn btn-default" (click)="closeDatepicker()">
                <i class="zmdi zmdi-close"></i>Cancelar
            </button>

                <button type="button" class="aurora-button btn btn-default" (click)="setNowDate()">Hoje
            </button>
            </div>
        </div>
    </div>


</div>